//----------------------------------------------------------
// LOGIN page
//----------------------------------------------------------
// $bg-start: $color-app-pri; // $color-primary-600;
// $bg-end:   $color-app-pri; // $color-primary-800;//#1571b1;

.page-login {
	background: $color-app-back;

	&:before {
		position: fixed;
		top: 0;
		left: 0;
		content: '';
		width: 100%;
		height: 100%;
		background-position: center top;
		background-size: cover;
		z-index: -1;

		background: $color-app-back;
        // Old browsers
		// IE9 SVG, needs conditional override of 'filter' to 'none' */
		// background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyYThlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNTcxYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		// @include gradient-y($bg-start, $bg-end);
	}

	a {
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}
	}

    // Logo
    .brand-img {
        max-height: 70px;
    }

	.panel {
		width: 430px;
		.panel-body {
			padding: 50px 40px 40px;
		}

        margin-left: auto;
        margin-right: auto;
		margin-bottom: 45px;
		background: $color-white;
		border-radius: 4px;

		h2.brand-text {
			color: $color-app-pri;
			margin-top: 2.5rem;
			margin-bottom: 0;
            // font-weight: 300;
            // font-size: 16px;
		}
	}

	form {
		margin: 2.5rem 0 30px;

		a {
			margin-left: 20px;
		}

		.form-control {
			.focus,
			&:focus {
				border-color: lighten($color-app-pri, 6%);
			}
		}

		.form-material.floating  {
			& + & {
				margin-top: 30px;
			}
		}

		.form-material label {
			color: $color-blue-grey-400;
			font-weight: $font-weight-normal;
		}

		.btn-primary {
			background-color: $color-app-pri;
			border-color: $color-app-pri;

			&:hover {
				background-color: lighten($color-app-pri, 6%);
				border-color: lighten($color-app-pri, 6%);
			}
		}
	}

	// Error
	.summary-errors {
		text-align: left;
	}

    .loginas-message {
        margin-bottom: 30px;
    }
}

@include media-breakpoint-down(xs) {
	.pagge-login {
		.page-content {
			padding: 30px 20px;
		}

		.panel {
			width: auto;
			padding: 10px;

			.panel-body {
				padding: 35px 25px 35px;
			}
		}
	}
}