//----------------------------------------------------------
// COMMERCE MODULE
//----------------------------------------------------------

// Vars, mixins & helpers
@import "../config/colors";
@import "../config/variables";
@import "../config/mixins";

#select2-Order_status_type-results li,
#select2-Order_status_type-container {
    > span {
        font-size: 16px;

        > i {
            padding-right: 5px;
        }
    }
}

#order-grid {
    .status_type_filter {
        width: 200px;
    }

    .product_filter_filter,
    .product_filter_column {
        min-width: 200px;
    }

    .product_filter_column {
        ul {
            padding-left: .7rem;

            > li {
                padding-bottom: .7rem;
            }
        }
    }
}

#line-item-table {
    .product-col > div {
        display: inline-block;
        vertical-align: top;
    }

    tfoot {
        tr td {
            font-weight: 400;
            font-size: 15px;

            &.total {
                font-size: 20px;

                span {
                    font-size: 15px;
                }
            }
        }
    }
}

.category-tree-wrapper .dd3-content,
.option-tree-wrapper .dd3-content {
    padding-left: 40px;
    padding-right: 0;
}

.index-page .panel-top-summary {
    .summary {
        top: -45px;
    }

    .grid-view {
        margin-top: 0;
    }
}

.product-form {
    .help-section {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    code {
        white-space: pre;
        display: block;
    }

    code,
    div.parse-markdown {
        border: 1px solid #DDD;
        padding: .5rem .75rem;
    }

    .help-block code {
        display: inline;
        border: 0;
        padding-left: .25rem;
        padding-right: .25rem;
    }

    dt {
        font-weight: 700;
    }
}

#variant-table {
    .actions-column {
        width: 120px;
        text-align: center;
    }
}

#variant-form {
    .size-column {
        min-width: 230px;
        position: relative;
        left: -5px;
    }
    
    p.help-block {
        font-size: 14px;
    }
}

.status-type-wrapper {
    > span {
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;

        > i {
            padding-right: 5px;
        }
    }

    code {
        border: 0;
        font-size: 16px;
        color: #8756FF;
        padding-left: 5px;
    }
}

.status-type-content {
    .status-type-wrapper {
        display: inline-block;
    }

    .btn {
        color: #FFF;
        margin-left: 10px;
        margin-top: -2px;
    }
}

.table-order-history {
    .status-type-wrapper span {
        font-size: 16px;
    }
}
